<form class="container" (ngSubmit)="submitForm()">
  <h2>Change Password</h2>
  <div class="form-group">
    <label for="currentPassword">Current Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required class="form-control">
    <label for="newPassword">New Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required class="form-control">
    <label for="confirmPassword">Confirm New Password:</label>
    <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required class="form-control">
  </div>

  <h2>Theme</h2>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" id="lightTheme" name="theme" value="light" [(ngModel)]="selectedTheme" required class="form-check-input">
      Light Mode
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <input type="radio" id="darkTheme" name="theme" value="dark" [(ngModel)]="selectedTheme" required class="form-check-input">
      Dark Mode
    </label>
  </div>


  <h2>Temperature</h2>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="temperature1" name="temperature" value="1" [(ngModel)]="selectedTemperature" required class="form-check-input">
      1
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="temperature2" name="temperature" value="2" [(ngModel)]="selectedTemperature" required class="form-check-input">
      2
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="temperature3" name="temperature" value="3" [(ngModel)]="selectedTemperature" required class="form-check-input">
      3
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="temperature4" name="temperature" value="4" [(ngModel)]="selectedTemperature" required class="form-check-input">
      4
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="temperature5" name="temperature" value="5" [(ngModel)]="selectedTemperature" required class="form-check-input">
      5
    </label>
  </div>



  <h2>Typing Speed</h2>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="speed1" name="speed" value="1" [(ngModel)]="selectedSpeed" required class="form-check-input">
      1
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="speed2" name="speed" value="2" [(ngModel)]="selectedSpeed" required class="form-check-input">
      2
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="speed3" name="speed" value="3" [(ngModel)]="selectedSpeed" required class="form-check-input">
      3
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="speed4" name="speed" value="4" [(ngModel)]="selectedSpeed" required class="form-check-input">
      4
    </label>
  </div>
  <div class="form-check form-check-inline">
    <label class="form-check-label">
      <input type="radio" id="speed5" name="speed" value="5" [(ngModel)]="selectedSpeed" required class="form-check-input">
      5
    </label>
  </div>

  <div>

    <div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <button type="button" (click)="deleteAccount()" class="btn btn-danger">Delete Account</button>
    </div>

  </div>

</form>
