<main>
    <div class="container-fluid">
      <div class="row">
            <div class="col-2 d-flex flex-column flex-shrink-0 p-3 bg-light">
            <a href="/chat" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <i class="bi bi-chat-dots-fill"></i>
                <span class="pl-3 fs-4">Chat Console</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                <a href="/chat" class="nav-link active" aria-current="page">
                    <i class="bi bi-house-door"></i>
                    Home
                </a>
                </li>
                <li>
                <a href="/settings" class="nav-link link-dark">
                    <i class="bi bi-gear-fill"></i>
                    Settings
                </a>
                </li>
                <li>
                <a href="/history" class="nav-link link-dark">
                    <i class="bi bi-clock-history"></i>
                    History
                </a>
                </li>
            </ul>
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Nate</strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="/settings">Settings</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
            </div>
            <div class="col-9">
                <div class="card m-3 p-0" style="width: 100%;">
                    <div class="card-body">
                      <h5 class="card-title">Rebuilding a Transmission</h5>
                      <p class="card-text"><chat-display></chat-display></p>
                      <chat-input></chat-input>
                    </div>
                  </div>

            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
  </main>
